<div class="right-sidebar-backdrop"></div>
<!-- /Right Sidebar Backdrop -->
<!-- Main Content -->
<div class="page-wrapper">
  <div class="container-fluid">
    <ul class="nav nav-tabs" style="padding: 4px 0px 0;margin-left: -9px;margin-right: -9px;background: #fff;border: 1px solid rgba(33, 33, 33, 0.1);margin-top: 14px;">
    <li class="active"><a href="AddPayments.html">Add Payments</a></li>
    <li><a href="PaymentReport.html">Payment Report</a></li>
        </ul>
    <!-- Title -->
    <div class="heading-bg panel panel-default card-view" style="float:left; height:auto;padding-bottom: 10px;">
      <!-- Breadcrumb -->
      <div class="card-block">
        <h5> Indus It Valley Current Account bank Details</h5>
        NEFT / IMPS / UPI / RTGS  BANK TRANSFER
        <table class="tablesaw table-bordered table-hover table tablesaw-swipe" data-tablesaw-mode="swipe" id="table-1761">
          <thead>
            <tr>
              <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class="tablesaw-cell-persist">Sr. No.</th>
              <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3">Bank Name</th>
              <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2">Payee Name</th>
              <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1"> Account Type </th>
              <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4">Account Number</th>
              <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4">IFSC Code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="title tablesaw-cell-persist"><a href="javascript:void(0)">1</a></td>
              <td>ICICI Bank</td>
              <td>Indus IT Valley Desigens</td>
              <td>Current Account</td>
              <td>630605500025</td>
              <td>ICIC0006306</td>
            </tr>
            <tr>
              <td class="title tablesaw-cell-persist"><a href="javascript:void(0)">2</a></td>
              <td>SBI Bank</td>
              <td>Indus IT Valley Desigens</td>
              <td>Current Account</td>
              <td>36090837172</td>
              <td>SBIN0007955</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3" style="margin-top:25px;">
        <div class="form-group m-t-40 row">
          <h5>
            <label for="example-text-input" class=" col-form-label" style="white-space:nowrap;">Amount Min(Rs. 1000)*:</label>
          </h5>
          <div class="col-12">
            <input class="form-control" type="text" placeholder="Enter Amount" id="example-text-input">
          </div>
        </div>
        <div class="form-group row">
          <h5>
            <label for="example-month-input" class="col-form-label">Payment Method*:</label>
          </h5>
          <select class="form-control" id="inlineFormCustomSelect">
            <option selected="">Select...</option>
            <option value="1">BY SAME BANK TRANSFER</option>
            <option value="2">BY NEFT / RTGS</option>
            <option value="3">BY ATM TRANSFER</option>
            <option value="3">BY CHEQUE</option>
            <option value="3">BY IMPS</option>
            <option value="3">BY WALLET</option>
            <option value="3">BY CASH IN BANK</option>
            <option value="3">NET BANKING (PAYMENT GATEWAY)</option>
            <option value="3">BY UPI PAYMENT</option>
          </select>
        </div>
        <div class="form-group row">
          <h5>
            <label for="example-month-input" class="col-form-label">Bank Name*:</label>
          </h5>
          <select class="form-control" id="inlineFormCustomSelect">
            <option selected="">Choose...</option>
            <option value="1">ICICI Bank Vijayawada Ac.No: 630605500025</option>
            <option value="2">SBI Bank Vijayawada Ac.No:36090837172</option>
          </select>
        </div>
        <div class="form-group m-t-40 row">
          <h5>
            <label for="example-text-input" class=" col-form-label" style="white-space:nowrap;">UTR Number/ Bank Reference*:</label>
          </h5>
          <div class="col-12">
            <input class="form-control" type="text" placeholder="Reference Number" id="example-text-input">
          </div>
        </div>
        <div class="form-group m-t-40 row">
          <h5>
            <label for="example-text-input" class=" col-form-label" style="white-space:nowrap;">Date of Payment*:</label>
          </h5>
          <div class="col-12">
            <input class="form-control" type="text" placeholder="Enter Date" id="example-text-input">
          </div>
        </div>
        <div class="form-group m-t-40 row">
          <h5>
            <label for="example-text-input" class=" col-form-label" style="white-space:nowrap;">Remark*:</label>
          </h5>
          <div class="col-12">
            <textarea class="form-control" rows="5" placeholder="Enter Comments"></textarea>
          </div>
        </div>
        <div class="col-sm-12 text-left" style="padding:0;">
          <button type="submit" class="btn btn-primary">Submit Bank Details</button>
        </div>
      </div>

      <div class="col-md-9" style="margin-top:25px;">
        <ul class="search-listing">
          <li>
            <h3><a href="javacript:void(0)">Terms &amp; Conditions</a></h3>
            <p>To add recharge Balance, we highly recommend to do NEFT (bank transfer) to avoid transaction charges.
              Minimum amount that we accept is Min Rs. 5000 to Rs. 99,000 for NEFT
              No cash deposit allowed in ICICI Bank.
              After making payment, you have to fill balance request form. Click on "Balance Request" button as given below.</p>
          </li>
          <li>
            <h3><a href="javacript:void(0)">Rejection of Payment</a></h3>
            <p>To avoid the delay in Payment/Wallet Update, kindly provide the correct details. Kindly fill up form after depositing/transferring the money, else your money will be NOT get credited. Same Bank/IMPS Transfer Minimum 30 minutes to Maximum 2 hours. Payment request will be rejected, if the payment not credited into our account after this duraion.</p>
          </li>
          <li>
            <h3><a href="javacript:void(0)">NEFT/RTGS Transfer</a></h3>
            <p> Minimum 2 hours to Maximum end of the day. Payment request will be rejected, if the payment not credited into our account after this duraion.</p>
          </li>
          <li>
            <h3><a href="javacript:void(0)">Cash Deposit</a></h3>
            <p>For doing cash deposit, you must get the permission from our company. Else, Bank Service charge will be apply.</p>
          </li>
          <li>
            <h3><a href="javacript:void(0)">Remarks/Payee</a></h3>
            <p>Name Remarks must be match with the remark given during the online transfer. Payee Name must be match with the name which is given in the bank while doing cash deposit.</p>
          </li>
          <li>
            <h3><a href="javacript:void(0)">Information</a></h3>
            <p>After made a payment request, there is no need to inform us through mail/sms/call. If your request is not getting processed for the long time, then you can contact our customer care to know the status of your request.</p>
          </li>
        </ul>
      </div>
      <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default card-view">
          <h3>My Recent Bank Payments</h3>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="table-wrap">
                <div class="table-responsive">
                  <table id="example" class="table table-hover display" >
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>User ID</th>
                        <th>Bank Name</th>
                        <th>Bank Transaction ID</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Remarks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td><span class="label label-success">success</span></td>
                        <td>Tiger Nixon</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td><span class="label label-success">success</span></td>
                        <td>Tiger Nixon</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td><span class="label label-success">success</span></td>
                        <td>Tiger Nixon</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td><span class="label label-success">success</span></td>
                        <td>Tiger Nixon</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td><span class="label label-success">success</span></td>
                        <td>Tiger Nixon</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Row -->
  </div>

</div>
