<div class="right-sidebar-backdrop"></div>
 <!-- /Right Sidebar Backdrop -->
 <!-- Main Content -->
 <div class="page-wrapper">
   <div class="container-fluid cld">
     <!-- Title -->
     <!-- /Title -->
     <!-- Row -->
     <div class="row">
     <ul class="nav nav-tabs" style="padding: 4px 0px 0;background: #fff;border: 1px solid rgba(33, 33, 33, 0.1);margin-top: 14px;">
     <li><a [routerLink]="['IssueComplants']">Raise Complants</a></li>
     <li class="active"><a [routerLink]="['ComplantList']">Complants List</a></li>
         </ul>


       <div class="col-sm-12" style="background: #fff;border: 1px solid rgba(33, 33, 33, 0.1);padding-bottom: 15px;">

         <div class="col-md-12" style="padding:0;">
           <div class="panel-wrapper collapse in">
             <div class="table-wrap">
               <div class="table-responsive" style="padding-top:10px;">
                 <table id="example" class="table table-hover display" >
                   <thead>
                     <tr>
                       <th>Complaint Id</th>
                       <th>Date</th>
                       <th>Transection Id</th>
                       <th>Transaction Date</th>
                       <th>Mobile Number</th>
                       <th>Amount</th>
                       <th>Old Status</th>
                       <th>New Status</th>
                       <th>Remarks</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td>1</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>2</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>3</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>4</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>5</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>6</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>7</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>8</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>9</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                     <tr>
                       <td>10</td>
                       <td>System</td>
                       <td>Edinburgh</td>
                       <td>61</td>
                       <td>2011/04/25</td>
                       <td>Tiger Nixon</td>
                       <td><span class="label label-info">Process</span></td>
                       <td><span class="label label-success">success</span></td>
                       <td>Enter Comments</td>
                     </tr>
                   </tbody>
                 </table>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- /Row -->
   </div>
 </div>
