
<div class="page-wrapper">
				<div class="container-fluid pt-10">
						<div class="row">
<app-dashboard-1></app-dashboard-1>
<app-dashboard-2></app-dashboard-2>
<app-dashtime></app-dashtime>
<app-dashgrowth></app-dashgrowth>
</div></div>

<div class="row">
	<div class="container-fluid">
<app-dashprofile></app-dashprofile>
<app-dashgraph></app-dashgraph>
<app-dashnews></app-dashnews>
</div></div>

<div class="row">
<div class="container-fluid">
<app-dashwallettransa></app-dashwallettransa>
</div>
</div>
<div>
