<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
										<div class="panel panel-default card-view" style="min-height: 402px;">
												<div class="panel-heading">
														<div class="pull-left">
																<h6 class="panel-title txt-dark">user statistics</h6>
														</div>
												</div>
												<div class="panel-wrapper collapse in">
														<div class="panel-body">
																<img src="./assets/img/Pie_chart.png" class="img-responsive"/>														</div>
												</div>
										</div>
								</div>
