<div class="right-sidebar-backdrop"></div>
  <!-- /Right Sidebar Backdrop -->
  <!-- Main Content -->
  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Title -->
      <!-- /Title -->
      <!-- Row -->
      <div class="row">

      <ul class="nav nav-tabs" style="padding: 4px 0px 0;background: #fff;border: 1px solid rgba(33, 33, 33, 0.1);margin-top: 14px;">
      <li class="active"><a href="IssueComplants.html">Raise Complants</a></li>
      <li><a href="ComplantsList.html">Complants List</a></li>
          </ul>


        <div class="col-sm-12" style="background: #fff;border: 1px solid rgba(33, 33, 33, 0.1);padding-bottom: 15px; padding-top:10px;">





          <div class="col-md-3">
            <div class="form-group m-t-40 row">
              <div class="col-12">
                <input class="form-control" type="text" placeholder="Compaints ID" id="example-text-input">
              </div>
            </div>
            <div class="form-group m-t-40 row">
              <div class="col-12">
                <input class="form-control" id="datepicker-autoclose2" type="text" placeholder="Enter Date MM/DD/YYYY" id="example-text-input">
              </div>
            </div>
            <div class="form-group m-t-40 row">
              <div class="col-12">
                <input class="form-control" type="text" placeholder="Transection Id" id="example-text-input">
              </div>
            </div>
            <div class="form-group m-t-40 row">
              <div class="col-12">
                <input class="form-control" type="text" placeholder="Amount" id="example-text-input">
              </div>
            </div>
            <div class="form-group m-t-40 row">
              <div class="col-12">
                <textarea class="form-control" rows="5" placeholder="Enter Comments"></textarea>
              </div>
            </div>
            <div class="col-sm-12 text-left" style="padding:0;">
              <button type="submit" class="btn btn-primary">Submit Bank Details</button>
            </div>
          </div>
          <div class="col-md-9">
            <div class="panel-wrapper collapse in">
              <div class="table-wrap">
                <div class="table-responsive">
                  <table id="example" class="table table-hover display" >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Trans Id</th>
                        <th>Tran Date</th>
                        <th>Mobile Number</th>
                        <th>Amount</th>
                        <th>Old</th>
                        <th>New</th>
                        <th>Remarks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>System</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>Tiger Nixon</td>
                        <td><span class="label label-info">Process</span></td>
                        <td><span class="label label-success">success</span></td>
                        <td>Enter Comments</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>

  </div>
